body {
  background-color: #e9ebf0;
  font-family: Helvetica, Arial;
}

.wrapper {
  margin-top: 3em;
  background-color: #fff;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  padding: 30px;
}

.wrapper hr {
  margin: 40px auto;
}

@media only screen and (min-width: 1400px) {
  .wrapper {
    width: 50%;
  }
  .conversionDiv {
    display: flex;
    flex-direction: row !important;
  }
  .conversionText {
    margin: 0 0 0 1em !important;
  }
}
@media only screen and (max-width: 1399px) and (min-width: 750px) {
  .wrapper {
    width: 75%;
  }
  .conversionDiv {
    display: flex;
    flex-direction: row !important;
  }
  .conversionText {
    margin: 0 0 0 1em !important;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.conversionText {
  margin: 1em 0;
}

.conversionDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: 1em;
}

.MuiTypography-h6 {
  padding-top: 1em;
}

.tableTitle {
  padding-bottom: 1em;
}
